/*
Patient Signup Form Styles
================================================================================
*/

/*
Imports
------------------------------------------------------------
*/
/* app */
@import '../../assets/styles/variables';


/*
Page-Wide
================================================================================
*/
.large-button--secondary {
  border: 1px solid $color-secondary-highlight;
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;

  color: $color-white;
  background-color: $color-secondary-highlight;

  font-weight: 600;
  line-height: normal;

  &:hover {
    color: $color-secondary-highlight;
    background-color: $color-white;
  }

  &:focus {
    outline: none;
  }
}


/*
Signup Form
================================================================================
*/
.spacer {
  margin-top: 1rem;
  margin-bottom: 2.5rem;
}

.field-instructions {
  margin-bottom: 1.5rem;
  text-align: justify;

  font-weight: 300;
}
