/*
Signup Page Styles
================================================================================
*/

/*
Imports
------------------------------------------------------------
*/
/* app */
@import '../../assets/styles/variables';


/*
Page-Wide
================================================================================
*/
.container-wrapper {
  min-height: $body-height;
}

.large-title {
  margin-bottom: 2.5rem;

  font-size: 3rem;
  text-transform: capitalize;
}


/*
Signup Form
================================================================================
*/
.signup-form-wrapper {
  margin: 2.5rem 0 5rem 0;

  .large-title {
    color: $color-primary-highlight;

    text-align: center;
  }
}


/*
Sign Up Success Modal
================================================================================
*/
.modal-background {
  background-color: #00C0EF;
  padding: 0;

  .row {
    display: flex;
    align-items: center;
  }

  .main-content {
    background-color: #0D7F9A;
    padding: 35px 20px;
    color: #FFF;
  }
}
