/*
FAQ Page: Question and Answer Component Styles
================================================================================
*/

/*
Imports
------------------------------------------------------------
*/
/* app */
@import '../../assets/styles/variables';


/*
Question and Answer
================================================================================
*/
.qanda-wrapper {
  border-bottom: 1px solid $color-secondary-lowlight;
  padding: 3rem 0;

  color: $color-primary-lowlight;

  font-size: 1rem;
  line-height: 1.5rem;

  &:last-child {
    border-bottom: none;
  }

  .question {
    font-weight: bold;
  }

  .answer {
    p:last-child,
    ul:last-child {
      margin-bottom: 0;
    }
  }
}
