.messages {
  margin-bottom: 10px;

  .item {
    padding: 5px;
    margin-bottom: 15px;

    &:nth-child(even) {
      background-color: #e3e3e3;
    }

    &:last-child {
      margin-bottom: 0;
    }

    .header {
      clear: both;
    }

    .sender {
      color: black;
      font-size: 14px;
      font-weight: bold;
      margin-right: 5px;
      float: left;
    }

    .text {
      white-space: pre-line;
      margin-right: 5px;
      font-style: italic;
    }

    .time {
      font-size: 12px;
      opacity: 0.5;
      float: right;
    }
  }
}
