/*
Checkbox Component Styles
================================================================================
*/

/*
Imports
------------------------------------------------------------
*/
/* app */
@import '../../assets/styles/variables';
 

/*
Checkbox
================================================================================
*/
.checkbox {
  display: inline-block;
  vertical-align: middle;
  font-size: 1.375rem;
  width: 1.375rem;
  height: 1.375rem;
  cursor: pointer;
}

.checkbox-label {
  margin-bottom: 0;

  font-weight: 300;

  span {
    vertical-align: middle;
    margin-left: 0.25rem;
  }

  a {
    color: $color-primary-transparent;

    cursor: pointer;
    text-decoration: none;

    &:hover {
      color: $color-primary-highlight;
      text-decoration: none;
    }
  }
}
