/*
Footer Component Styles
================================================================================
*/

/*
Imports
------------------------------------------------------------
*/
/* app */
@import '../../assets/styles/variables';


/*
Footer
================================================================================
*/
.footer {
  position: relative;
  padding: 3rem 0;

  color: $color-secondary-lowlight;
  background-color: $color-primary-lowlight;

  font-size: 0.875rem;
}

/*
Footer Nav
------------------------------------------------------------
*/
.powered-by {
  position: absolute;
  left: $font-size-base;

  text-align: center;
}

.powered-by--logo {
  width: 100px;
}

ul.footer__nav {
  display: block;
  margin-bottom: 1rem;
  padding: 0;

  list-style-type: none;

  text-align: center;
  text-transform: uppercase;

  & > li {
    display: inline-block;
    margin: 0 0.625rem;

    & > a {
      color: $color-secondary-lowlight;

      cursor: pointer;
    }

    & > a:hover,
    & > a:active,
    & > a:focus {
      color: $color-white;

      text-decoration: none;
    }
  }
}

.disclaimer {
  width: 50%;
  margin: 0 auto;

  text-align: justify;
}

ul.social-links {
  position: absolute;
  top: 2.75rem;
  right: $font-size-base;

  display: block;
  margin: 0;
  padding: 0;

  list-style-type: none;

  font-size: 1.5rem;
  text-align: center;

  & > li {
    display: inline-block;
    margin: 0 0.625rem;

    & > a {
      color: $color-secondary-lowlight;

      cursor: pointer;
    }

    & > a:hover,
    & > a:active,
    & > a:focus {
      color: $color-white;

      text-decoration: none;
    }
  }
}
