/*
Footer Component Styles
================================================================================
*/

/*
Imports
------------------------------------------------------------
*/
/* global */
@import '../../assets/styles/variables';

/*
Variables
------------------------------------------------------------
*/
/* local */
$footer-text-color: #BBC !default;

/*
Footer
================================================================================
*/
.footer {
  padding: 3rem 0;

  color: $footer-text-color;
  background-color: #4d4d4d;

  font-size: 0.875rem;
}

/*
Footer Nav
------------------------------------------------------------
*/
ul.footer__nav {
  display: block;
  margin: 0;
  padding: 0;

  list-style-type: none;

  text-align: center;
  text-transform: uppercase;

  & > li {
    display: inline-block;
    margin: 0 0.625rem;

    & > a {
      color: $footer-text-color;

      cursor: pointer;
    }

    & > a:hover,
    & > a:active,
    & > a:focus {
      color: #FFF;

      text-decoration: none;
    }
  }
}
