@import '../../assets/styles/variables';

$footer-text-color: #E9F1E4;

.footer {
  background-color: #92BB79;
  color: $footer-text-color;
  padding: 1rem 0;
  font-size: 1rem;

  li {
    & > a:hover,
    & > a:active,
    & > a:focus {
      background-color: transparent !important;
      color: #337AB7;
      text-decoration: underline !important;
    }

    & > a {
      padding-top: 0 !important;
      padding-bottom: 0 !important;
      color: $footer-text-color;
      font-size: 1rem;
    }
  }
}

