.root {
  display: inline;
}

.checklist-container {
  padding-top: 15px;

  input {
    cursor: pointer;
    margin-right: 10px;
  }

  ul {
    margin-bottom: 0;
  }

  label {
    font-weight: normal;
  }
}

