/*
Checkout Form Modal Component Styles
================================================================================
*/

/*
Imports
------------------------------------------------------------
*/
/* app */
@import '../../assets/styles/variables';


/*
Page Wide
================================================================================
*/
:global(.modal-body) {
  padding-bottom: 1.5rem;
}

.field-instructions {
  margin-bottom: 1.5rem;
  text-align: justify;

  font-weight: 300;
}

  .personal-info__change-link {
    display: block;
    margin-top: 0.5rem;

    color: $color-primary-transparent;

    cursor: pointer;
    text-decoration: none;

    &:hover {
      color: $color-primary-highlight;
      text-decoration: none;
    }
  }

.spacer {
  margin-top: 1rem;
  margin-bottom: 2.5rem;
}

.spacer--members-list {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.modal-section-title {
  margin: 0 0 1rem 0;

  color: $color-primary-highlight;

  font-size: 1.5rem;
}


/*
Checkout Form Modal
================================================================================
*/
.popover-trigger {
  color: $color-primary-transparent;

  cursor: pointer;
  font-weight: normal;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $color-primary-highlight;
    text-decoration: none;
  }
}

/* Accepted Credit Cards
 * ------------------------------------------------------ */
.accepted-cards {}

.accepted-cards__title {
  font-size: 1.125rem;
  font-weight: bold;
}

.accepted-cards__cards > * {
  padding-right: 1rem;

  color: $color-primary-highlight;
  font-size: 4.5rem;
}
