@import '../../assets/styles/variables';

.my-info-container {
  font-size: 16px;
  color: $gray;
  background-color: $white;
  margin: 0 0 1em;
  padding: 1em;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.row {
  margin-bottom: 10px;
}

.avatar {
  margin-top: 1em;
  width: 100%;

  img {
    width: 100%;
    height: auto;
    border-radius: 50%;
  }
}

.name {
  font-size: 28px;
  color: $cyan;
}

.address,
.affordability {
  color: $black;
}

.url-email-phone {
  /* margin: 0; */

  .pair {
    display: inline-block;
    margin-right: 18px;

    span.glyphicon {
      margin-right: 5px;
    }

    svg {
      margin-right: 5px;
    }
  }

  a {
    text-decoration: underline;
  }

  span.glyphicon {
    margin-right: 5px;
    color: $dark-gray;
  }

  .text {
    color: $light-cyan;
  }
}
