@import '../../assets/styles/variables';

.wrapper {
  display: inherit;
}

.h3-with-button {
  h3 {
    float: left;
  }

  button {
    float: right;
    margin: 1em  1em 0.6em;
  }
}

.total-info {
  margin-bottom: 15px;

  .active {
    color: $light-green;
  }

  .inactive {
    color: $purple;
  }
}
