@import '../../assets/styles/variables';

.wrapper {
  display: inherit;
}

.list-header {
  margin: 30px 0 15px;
}

.filter-bar {
  margin-bottom: 15px;
}

.action-button {
  margin-left: 10px;
  margin-right: 10px;
}

.patients-overview {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: '10px';

  .total-info,
  .sorter {
    display: inline-block;
    padding: 10px 15px;
    background-color: #F5F5F5;
    border: 1px solid white;
  }

  .total-info {
    width: calc(100% - 150px);
  }

  .sorter {
    width: 150px;
  }

  .active {
    color: $light-green;
  }

  .inactive {
    color: $purple;
  }
}
