@import '../../assets/styles/variables';

.wrapper {
  display: inherit;
}

.h3-with-button {
  h3 {
    float: left;
  }

  button {
    float: right;
    margin: 1em  1em 0.6em;
  }
}

.patients-overview {
  font-size: 16px;

  .total-info,
  .sorter {
    display: inline-block;
    padding: 10px 15px;
    background-color: #F5F5F5;
    border: 1px solid white;
  }

  .total-info {
    width: calc(100% - 150px);
  }

  .sorter {
    width: 150px;
  }

  .active {
    color: $light-green;
  }

  .inactive {
    color: $purple;
  }
}
