@import '../../assets/styles/variables';

.patient-group {
  background-color: #F5F5F5;
}

.patient-list {
  padding: 15px;
  margin-bottom: 15px;
}

.group-header {
  font-size: 16px;

  &.active,
  &:hover {
    font-weight: bold;
    cursor: pointer;
  }

  .title-wrapper,
  .sorter {
    float: left;
    padding: 10px 15px;
    background-color: #F5F5F5;
    border: 1px solid white;
  }

  .title-wrapper {
    width: calc(100% - 150px);

    .title {
      float: left;
    }

    .dot-line {
      overflow: hidden;
      height: 14px;
      border-bottom: 1px dotted black;
    }
  }

  .sorter {
    width: 150px;
  }
}

.sorter-toggler {
  &:hover {
    opacity: 0.5;
  }
}
