.global-form {
  margin-top: 20px;
  margin-bottom: 20px;
}

.dropzone {
  width: 100%;
  height: 80px;
  color: #AB9C9B;
  background-color: #FFF;
  border-width: 1px;
  border-top-width: 3px;
  border-color: #E5E5E5;
  border-style: solid;
  border-radius: 5px;
  text-align: center;
  font-size: 26px;

  p {
    margin-top: 20px;
  }
}

.member-item {
  margin-top: 7px;
  margin-bottom: 7px;
}

.recommended-fee {
  margin-top: 10px;
}

.title-case {
  text-transform: capitalize;
  text-align: right;
}

.radio {
  margin-left: auto !important;
  margin-right: auto !important;
  display: block;
}
