/*
Privacy Page Styles
================================================================================
*/

/*
Imports
------------------------------------------------------------
*/
/* app */
@import '../../assets/styles/variables';


/*
Page-Wide
================================================================================
*/
.container-wrapper {
  min-height: calc(100% - 52px);
}

.content-wrapper {
  margin: 2rem 0;
}

.term {
  border-bottom: 1px solid $color-secondary-lowlight;
  padding: 3rem 0;

  color: $color-primary-lowlight;

  font-size: 1rem;
  line-height: 1.5rem;

  &:last-child {
    border-bottom: none;
  }

  .term__title {
    margin-top: 0;

    font-weight: bold;
  }

  p.term__description,
  ul.term__description,
  .term__description p:last-child,
  .term__description ul:last-child {
    margin-bottom: 0;
  }
}
