/*
Patient Membership Info Page Styles
================================================================================
*/

/*
Imports
------------------------------------------------------------
*/
/* app */
@import '../../assets/styles/variables';


/*
Page Wide
================================================================================
*/
.content {
  padding: 2rem;

  background-color: $color-secondary-background;
}

.content--filler {
  min-height: 500px;
}

.button {
  border: 1px solid $color-primary-highlight;
  border-radius: 0.25rem;
  padding: 1rem 1.5rem;

  color: $color-white;
  background-color: $color-primary-highlight;

  font-weight: 600;
  line-height: normal;

  &:hover {
    color: $color-primary-highlight;
    background-color: $color-white;
  }

  &:focus {
    outline: none;
  }
}

/*
Patient Membership Info
================================================================================
*/
.membership {
  color: $color-primary-highlight;

  font-size: 1.25rem;
}

.membership__title {
  margin: 0 0 1.5rem 0;

  font-size: 2rem;

  small {
    color: $color-primary-highlight;
  }
}

.membership__includes-list__label {
  font-weight: bold;
}

.membership__includes-list {
  min-height: 200px;
  margin-bottom: 0;
  padding-left: 0;

  line-height: 2rem;
  list-style: none;
}

.membership__cost {
  margin: 2rem 0 0 0;

  font-size: 3rem;
}

.membership__savings {
  margin-bottom: 1rem;

  font-size: 1.5rem;
}

.membership__disclaimer {
  margin-bottom: 0.25rem;

  font-size: 0.75rem;
}

/*
Add Member
------------------------------------------------------------
*/
.add-family-member-wrapper {
  margin: 6rem 0 1.5rem 0;

  text-align: right;
}
