@import '../../assets/styles/variables';

.page-header-container {
  margin-bottom: 20px;
  box-shadow: -5px 1px 10px #A6A6A6;
  background-color: $green;

  h1 {
    font-size: 18px;
  }

  &.client {
    background-color: $green;
  }

  &.dentist {
    background-color: $cyan;
  }
}

.page-header {
  color: $white;
  margin: 0 !important;
  border: none !important;
}
