@define-mixin colored-button $color, $background, $border {
  background-color: $background;
  border-color: $border;
  color: $color;

  &:hover,
  &:focus,
  &:active:focus {
    color: $color;
  }
}
