$roboto-font-stack: 'Roboto', sans-serif !default;


$white: #FFF;

$light-green: #19E185;
$dark-green: #0E7847;
$darkest-green: #2A483A;
$green: #15BF71;

$light-cyan: #00C0EF;
$dark-cyan: #007B9B;
$cyan: #00C0EF;

$white: #FFF;
$black: #141414;
$light-black: #343434;

$gray: #A6A6A6;
$light-gray: #B6B6B6;
$dark-gray: #545454;

$purple: #C4185D;
