/*
Old Variables
================================================================================
WARNING: DO NOT USE GOING FORWARD

TODO: Refactor them out.
*/
$roboto-font-stack: 'Roboto', sans-serif !default;

$white: #FFF;

$light-green: #19E185;
$dark-green: #0E7847;
$darkest-green: #2A483A;
$green: #15BF71;

$light-cyan: #00C0EF;
$dark-cyan: #007B9B;
$cyan: #00C0EF;
$link-color: #337AB7;

$white: #FFF;
$black: #141414;
$light-black: #343434;

$red: #C4185D;

$gray: #A6A6A6;
$light-gray: #B6B6B6;
$dark-gray: #545454;

$purple: #C4185D;

$nav-height: 6.5rem;


/*
Style Variables
================================================================================
USE THESE: They are the new ones.

NOTE: The value of `rem` units will be calculated based on the $font-size-base
      variable below.
*/

/*
Colors
------------------------------------------------------------
*/
$color-white: #FFF;

$color-primary-highlight: #00A1DF;   /* rgb(  0, 161, 263) */
$color-secondary-highlight: #73C8AF; /* rgb(115, 200, 175) */

$color-primary-transparent:            rgba(  0, 161, 263, 0.65);
$color-secondary-transparent:          rgba(115, 200, 175, 0.75);

$color-primary-lowlight: #646569;    /* rgb(100, 101, 105) */
$color-secondary-lowlight: #BDBBBB;  /* rgb(189, 187, 187) */

/*
Fonts
------------------------------------------------------------
*/
$font-size-base: 16px;

/*
Sizing
------------------------------------------------------------
*/
/* Taken by inspecting the size of the header (navbar) / footer. */
$header-height: 104px;
$footer-height: 116px;

/* A magic-ish number that was determined by trial and error.
 * Affected by the Footer height:
 *   - Smaller footer => bottom whitespace.
 *   - Larger  footer => scroll bar (even without content filling the page).
 */
$body-height: calc(100% - 114px);

