/*
Dentist Members Page Styles
================================================================================
*/

/*
Imports
------------------------------------------------------------
*/
/* app */
@import '../../assets/styles/variables';


/*
Page Wide
================================================================================
*/
.content {
  padding: 2rem;

  background-color: $color-secondary-background;
}

.content--filler {
  min-height: 500px;
}


/*
Dentist Members
================================================================================
*/
.patient-sort {
  padding-bottom: 2rem;

  color: $color-primary-lowlight;

  font-weight: 300;
  text-align: right;
}

.patient-sort__selector {
  color: $color-primary-highlight;

  outline: 0;

  cursor: pointer;
  font-weight: bold;
}
