/*
Patient Profile Page Styles
================================================================================
*/

/*
Imports
------------------------------------------------------------
*/
/* app */
@import '../../assets/styles/variables';


/*
Page Wide
================================================================================
*/
.content {
  padding: 2rem;

  background-color: $color-secondary-background;
}

.button--wide {
  border: 1px solid $color-primary-highlight;
  border-radius: 0.25rem;
  padding: 0.5rem 3rem;

  color: $color-white;
  background-color: $color-primary-highlight;

  font-weight: 600;
  line-height: normal;

  &:hover {
    color: $color-primary-highlight;
    background-color: $color-white;
  }

  &:focus {
    outline: none;
  }
}

.button--full-width {
  width: 100%;
  border: 1px solid $color-primary-highlight;
  border-radius: 0.25rem;
  padding: 1rem 1.5rem;

  color: $color-white;
  background-color: $color-primary-highlight;

  font-weight: 600;
  line-height: normal;

  &:hover {
    color: $color-primary-highlight;
    background-color: $color-white;
  }

  &:focus {
    outline: none;
  }
}

.button--lowlight--full-width {
  width: 100%;
  border: 1px solid $color-primary-lowlight;
  border-radius: 0.25rem;
  padding: 1rem 1.5rem;

  color: $color-white;
  background-color: $color-primary-lowlight;

  font-weight: 600;
  line-height: normal;

  &:hover {
    color: $color-primary-lowlight;
    background-color: $color-white;
  }

  &:focus {
    outline: none;
  }
}

/*
Text
------------------------------------------------------------
*/
.text--bold {
  font-weight: 600;
}

.text--primary--bold {
  color: $color-primary-highlight;

  font-weight: bold;
}

.text--label {
  font-size: 1.25rem;
  font-weight: 600;  
}

.text--inline-label {
  margin-right: 10px;

  color: $color-primary-lowlight;

  font-size: 1.25rem;
  font-weight: 600;
}


/*
Patient Profile
================================================================================
*/
.segment {
  border-top: 1px solid $color-secondary-lowlight;
  padding: 1.5rem 0;

  &:first-child {
    margin-top: 1.5rem;
  }
}

/*
Account Status
------------------------------------------------------------
*/
.account-status {
  font-size: 1.25rem;
}

/*
Personal Info
------------------------------------------------------------
*/
.personal-info {
  p {
    margin-bottom: 1rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .personal-info__change-link {
    display: block;
    margin-top: 0.5rem;

    color: $color-primary-transparent;

    cursor: pointer;
    text-decoration: none;

    &:hover {
      color: $color-primary-highlight;
      text-decoration: none;
    }
  }
}

/*
Family Members List
------------------------------------------------------------
*/
.align-with-button {
  margin-top: 0.5rem;
}


/*
Add Member
------------------------------------------------------------
*/
.add-family-member-wrapper {
  margin-bottom: 0.5rem;

  text-align: right;
}
