/**
 *  Define scss variables here.
 *
 *  Available options for Bootstrap:
 *  http://getbootstrap.com/customize/
 *
 */

// Custom Colors
$humility: #777;

$cyan: #00c0ef;
$dark-cyan: #007b9b;

$green: #15bf71;
$dark-green: #0e7847;
$light-green: #19e185;

$white: #fff;
$black: #000;

// Bootstrap Variables
$brand-primary: darken(#428bca, 6.5%);
$brand-secondary: #e25139;
$brand-success: #5cb85c;
$brand-warning: #f0ad4e;
$brand-danger: #d9534f;
$brand-info: #5bc0de;

// bootons
$btn-default-bg: #20c1ed;
$btn-default-color: #fff;
$btn-dark-green-color: #2b483a;

$text-color: #333;
$text-color-cyan: #30a6bd;
$text-color-green: #23b754;

$font-size-base: 14px;
$font-family-sans-serif: "Helvetica Neue", Helvetica, sans-serif;

$font-color-green: #26c075;
$page-header-background-color: #26be74;
$page-header-color: #fff;
