/*
Login Form Component Styles
================================================================================
*/

/*
Imports
------------------------------------------------------------
*/
/* app */
@import '../../assets/styles/variables';


/*
Login Form
================================================================================
*/
.wrapper {  /* stylelint-ignore */
  > * {
    margin-right: 15px;
  }

  > :last-child {
    margin-right: 0;
  }
}

.button {
  border: 1px solid $color-secondary-highlight;
  border-radius: 0.5rem;
  padding: 0.5rem 2rem;

  color: $color-white;
  background-color: $color-secondary-highlight;

  font-weight: 600;
  line-height: 1.5rem;

  &:hover {
    color: $color-secondary-highlight;
    background-color: $color-white;
  }

  &:focus {
    outline: none;
  }
}

.help-link a {
  color: $color-white;
}
