/* Manager List Entry Component Styles
 * ========================================================================== */

/*
Imports
------------------------------------------------------------
*/
/* app */
@import '../../assets/styles/variables';


/*
Page Wide
================================================================================
*/



/* Manager List Entry
 * ========================================================================== */
.list-entry__wrapper {
  margin-bottom: 2rem;
  border-bottom: 1px dashed $color-primary-lowlight;
  padding-bottom: 2rem;

  &:last-child {
    margin-bottom: 0;
    border-bottom: 0;
    padding-bottom: 0;
  }
}

.list-entry {
  padding: 1.5rem;
  border-radius: 1rem;

  background-color: $color-white;
}

.list-entry__header {
  font-size: 2rem;

  cursor: pointer;

  .list-entry__title {
    color: $color-primary-highlight;
  }

  .list-entry__toggle {
    float: right;

    color: $color-secondary-lowlight;
  }

  &:hover .list-entry__toggle {
    color: $color-primary-lowlight;
  }
}

.list-entry__body {
  margin-top: 1rem;
  border-top: 1px solid $color-secondary-lowlight;
  padding-top: 1rem;
}

.manager-details {
  color: $color-primary-lowlight;
}

.manager-details__section-title {
  color: $color-primary-highlight;

  font-size: 1.5rem;
}

.manager-details__price-code {
  margin-bottom: 0.5rem;
}

.manager-details__value {
  color: $color-primary-highlight;
}

.button--short {
  border: 1px solid $color-primary-highlight;
  border-radius: 0.25rem;
  padding: 0.25rem 1.5rem;

  color: $color-white;
  background-color: $color-primary-highlight;

  font-size: 0.875rem;
  font-weight: 600;
  line-height: normal;

  &:hover {
    color: $color-primary-highlight;
    background-color: $color-white;
  }

  &:focus {
    outline: none;
  }
}
