@import '../../assets/styles/variables';

.title {
  margin-bottom: 30px;
  font-weight: bold;
}

.action-icon {
  cursor: pointer;

  :hover {
    color: $cyan;
  }

  a {
    color: inherit;
  }
}

.btn-add-member {
  font-size: 16px;
  padding: 0.3em 1em;
}
