/*
Patients Dentist Page Styles
================================================================================
*/

/*
Imports
------------------------------------------------------------
*/
/* app */
@import '../../assets/styles/variables';


/*
Page Wide
================================================================================
*/
.content {
  padding: 2rem;

  background-color: $color-secondary-background;
}

.button--full-width {
  width: 100%;
  border: 1px solid $color-primary-highlight;
  border-radius: 0.25rem;
  padding: 1rem 1.5rem;

  color: $color-white;
  background-color: $color-primary-highlight;

  font-weight: 600;
  line-height: normal;

  &:hover {
    color: $color-primary-highlight;
    background-color: $color-white;
  }

  &:focus {
    outline: none;
  }
}

.button--lowlight--full-width {
  width: 100%;
  border: 1px solid $color-primary-lowlight;
  border-radius: 0.25rem;
  padding: 1rem 1.5rem;

  color: $color-white;
  background-color: $color-primary-lowlight;

  font-weight: 600;
  line-height: normal;

  &:hover {
    color: $color-primary-lowlight;
    background-color: $color-white;
  }

  &:focus {
    outline: none;
  }
}

.large-title--short {
  margin-bottom: 0.5rem;

  font-size: 3rem;
  text-transform: capitalize;
}


/*
Patients Dentist
================================================================================
*/
.profile-content-wrapper {
  height: 200px;

  .profile-content__avatar {
    float: left;
    position: relative;
    top: calc(50% - 4.5rem); /* 4.5rem = 9rem/2 = height/2 */
    margin-right: 2rem;
  }

  .profile-content__name-and-rating {
    float: left;
    position: relative;
    top: calc(50% - 41px); /* 41 = 82px/2 = height/2 */

    *:first-child {
      margin-top: 0;
    }

    *:last-child {
      margin-bottom: 0;
    }
  }

  .profile-content__user-action-buttons {
    position: relative;
    top: calc(50% - 89px); /* 89px = 179px/2 = height/2 */
  }
}

.detail {
  margin-bottom: 2rem;
}

.detail__title {
  border-bottom: 1px solid $color-primary-lowlight;
}

.detail__content {
  line-height: 1.75;
}

/* Work Hours
 * ------------------------------------------------------ */
.work-hours__day {
  display: inline-block;
  width: 90px;
  margin-right: 10px;
}

.work-hours__hour {
  display: inline-block;
  width: 70px;
  margin: 0 10px;
}

/*
Photos
------------------------------------------------------------
*/
.photos {
  height: 300px;
  margin-bottom: 3rem;
  border-radius: 3rem;
  padding: 2rem;

  background-color: $color-secondary-lowlight;
}

/*
Map
------------------------------------------------------------
*/
.map {
  height: 300px;
  margin-bottom: 3rem;
  border-radius: 3rem;
  padding: 2rem;

  background-color: $color-secondary-lowlight;
}
 
