.lead {
  border: 2px solid #DDD;

  h3 {
    color: #565656;
    padding-bottom: 5px;
  }

  p {
    color: #8F8F8F;
    font-size: 17px;
  }

  img {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
