/*
Patient Family Members List Styles
================================================================================
*/

/*
Imports
------------------------------------------------------------
*/
/* app */
@import '../../assets/styles/variables';


/*
Page Wide
================================================================================
*/
.button--wide {
  border: 1px solid $color-primary-highlight;
  border-radius: 0.25rem;
  padding: 0.5rem 2rem;

  color: $color-white;
  background-color: $color-primary-highlight;

  font-weight: 600;
  line-height: normal;

  &:hover {
    color: $color-primary-highlight;
    background-color: $color-white;
  }

  &:focus {
    outline: none;
  }
}


/*
Family Members List
================================================================================
*/

/*
Status
------------------------------------------------------------
*/
.status {
  color: $color-black;

  font-weight: bold;
  text-transform: capitalize;
}
.status--active {
  color: $color-secondary-highlight;
}
.status--past-due {
  /* TODO: choose a better yellow, see MembersList css */
  color: #c5bf66;
}
.status--canceled {
  color: $color-red;
}
.status--inactive {
  color: $color-red;
}

/*
Subscription Overview
------------------------------------------------------------
*/
.subscription-overview {
  color: $color-primary-lowlight;

  font-weight: 300;
}

.subscription-overview__info {
  color: $color-black;

  font-weight: bold;
}

/*
Controls
------------------------------------------------------------
*/
.controls {
  color: $color-primary-lowlight;

  font-weight: 300;

  label {
    cursor: pointer;
    font-weight: 300;
  }
}
