.app {
  // maybe this should be done with main boostrap's variables
  .navbar-fixed-top {
    background-color: #fff;
    height: 93px;
  }

  .navbar-brand {
    padding-left: 15px;
  }

  nav :global(.fa) {
    font-size: 2em;
    line-height: 20px;
  }

  footer {
    background-color: #92BA7B;
    padding: 10px 0;

    a {
      color: #fff;

      &:hover {
        background-color: inherit;
      }
    }

  }
}
.appContent {
  margin: 93px 0; // for fixed navbar
}
