.wrapper {
  width: 100%;
  margin: 0 auto;
}

.first-block {
  background-image: url(assets/images/brushing-teeth.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  text-align: center;

  header {
    padding: 10rem 0 16rem 0;

    h1 {
      margin: 0.5rem 0 0 0;
    }

    h2 {
      margin: 0;

      color: rgba(90, 162, 103, 0.8);

      font-size: 2rem;
    }
  }

  form {
    .search {
      width: 34rem;
      border-radius: 0.5rem;
      padding: 1rem 2rem;

      color: #737070;
      background-color: rgba(255, 255, 255, 0.8);

      &::-webkit-input-placeholder {
        opacity: 1;
        color: #737070;

        text-align: center;
      }

      &:-moz-placeholder { /* Firefox 18- */
        opacity: 1;
        color: #737070;

        text-align: center;
      }

      &::-moz-placeholder { /* Firefox 19+ */
        opacity: 1;
        color: #737070;

        text-align: center;
      }

      &:-ms-input-placeholder {
        opacity: 1;
        color: #737070;

        text-align: center;
      }
    }

    .get-started {
      margin-top: 1rem;
      border-radius: 0.5rem;
      padding: 1rem 1.5rem;

      color: #FFF;
      background-color: #00adef;

      font-weight: 600;
    }
  }

  .next-section-cover {
    margin-top: 5rem;
    padding: 2rem 0 1rem 0;

    color: #FFF;
    background-color: rgba(0, 172, 237, 0.6);

    h3 {
      font-size: 1.75rem;
      font-weight: 600;
    }

    p {
      font-size: 1.25rem;
    }
  }
}

.second-block {
  
}

.third-block {
  padding-top: 5rem;
  padding-bottom: 6rem;

  li {
    list-style-image: url('./check.png');
    padding-top: 10px;
    font-size: 20px;
  }
}

.four-block {
  padding-top: 11rem;
  padding-bottom: 20rem;

  li {
    list-style-image: url('./check.png');
    padding-top: 10px;
    font-size: 20px;
  }
}

.navbar {
  background: transparent;
}

.nav {
  margin-right: 15px;
}

li.nav-item {
  & > a:hover,
  & > a:active {
    background-color: transparent;
    color: #FFF;
  }

  & > a {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    color: #FFF;
    font-size: 1rem;
  }
}

.footer-block {
  > * {
    background-color: transparent;
  }
}
