/*
Home Page Styles
================================================================================
*/

/*
Imports
------------------------------------------------------------
*/
/* app */
@import '../../assets/styles/variables';


/*
Page-Wide
================================================================================
NOTE: These are all good candidates for generic styles if used on multiple
pages.
*/
.wrapper {
  width: 100%;
  margin: 0 auto;

  text-align: center;
}

.large-title {
  margin-bottom: 1.5rem;

  font-size: 3rem;
  text-transform: capitalize;
}

.large-text {
  margin-bottom: 3rem;

  font-size: 1.5rem;
  font-weight: 300;
  line-height: 2rem;
}

.button {
  border: 1px solid $color-primary-highlight;
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;

  color: $color-white;
  background-color: $color-primary-highlight;

  font-weight: 600;
  line-height: normal;

  &:hover {
    color: $color-primary-highlight;
    background-color: $color-white;
  }

  &:focus {
    outline: none;
  }
}

.large-button {
  border: 2px solid $color-primary-highlight;
  border-radius: 1rem;
  padding: 1.5rem 2.5rem;

  color: $color-white;
  background-color: $color-primary-highlight;

  font-size: 1.5rem;
  font-weight: 600;
  line-height: normal;

  &:hover {
    color: $color-primary-highlight;
    background-color: $color-white;
  }

  &:focus {
    outline: none;
  }
}

.large-button__hollow {
  border: 2px solid $color-white;
  border-radius: 1rem;
  padding: 1.5rem 2.5rem;

  color: $color-white;
  background-color: transparent;

  font-size: 1.5rem;
  font-weight: 600;
  line-height: normal;

  &:hover {
    color: $color-secondary-transparent;
    background-color: $color-white;
  }

  &:focus {
    outline: none;
  }
}


/*
Floating Menu
================================================================================
IE: Login links on the RHS.
*/
.floating-menu {
  position: fixed;
  transform: rotate(-90deg);
  top: 200px;
  right: -148px;
  display: inline-block;

  font-size: 0.875rem;
}

.floating-menu  ul.login-links {
  display: block;
  margin: 0;
  padding: 0;

  list-style-type: none;

  text-transform: uppercase;

  & > li {
    display: inline-block;
    margin: 0 0.25rem;
    border-radius: 0.5rem 0.5rem 0 0;
    padding: 0.5rem 2.5rem;

    /* NOTE: Defaults to the .login-links__link--secondary color. */
    background-color: $color-primary-lowlight;

    text-align: center;

    & > a {
      color: $color-white;

      cursor: pointer;
    }

    & > a:hover,
    & > a:active,
    & > a:focus {
      color: $color-white;

      text-decoration: none;
    }
  }

  > li.login-links__link--primary {
    background-color: $color-secondary-highlight;
  }

  > li.login-links__link--secondary {
    background-color: $color-primary-lowlight;
  }
}


/*
Marketing Video / Modal
================================================================================
*/
.marketing-video-modal {
  width: 1000px;
}


/*
First Block
================================================================================
*/
.first-block {
  background: url(assets/images/brushing-teeth.jpg) top center / cover no-repeat;

  header {
    padding: 10rem 0 16rem 0;

    h1 {
      margin: 0.5rem 0 0 0;
    }

    h2 {
      margin: 0;

      color: rgba(90, 162, 103, 0.8); /* NOTE: not one of the usual colors... */

      font-size: 2rem;
    }
  }

  form {
    .search {
      width: 34rem;
      border: 1px solid $color-white;
      border-radius: 0.5rem;
      padding: 1rem 2rem;

      color: $color-primary-lowlight;
      background-color: rgba(255, 255, 255, 0.6);

      &:hover,
      &:active,
      &:focus,
      &:valid {
        background-color: rgba(255, 255, 255, 0.8);
      }

      &::-webkit-input-placeholder {
        opacity: 1;
        color: $color-primary-lowlight;

        text-align: center;
      }

      &:-moz-placeholder { /* Firefox 18- */
        opacity: 1;
        color: $color-primary-lowlight;

        text-align: center;
      }

      &::-moz-placeholder { /* Firefox 19+ */
        opacity: 1;
        color: $color-primary-lowlight;

        text-align: center;
      }

      &:-ms-input-placeholder {
        opacity: 1;
        color: $color-primary-lowlight;

        text-align: center;
      }
    }

    .button {
      margin-top: 1rem;

      &:hover {
        background-color: rgba(255, 255, 255, 0.8);
      }
    }
  }

  .next-section-cover {
    margin-top: 5rem;
    padding: 2rem 0 1rem 0;

    color: $color-white;
    background-color: $color-primary-transparent;

    h3 {
      font-size: 1.75rem;
      font-weight: 600;
    }

    p {
      font-size: 1.25rem;
    }
  }
}


/*
Second Block
================================================================================
*/
.second-block {
  padding: 3.5rem 0;

  color: $color-primary-lowlight;
  background-color: $color-white;

  .large-title {
    color: $color-primary-highlight;
  }

  .process {
    border-radius: 1rem;
    padding: 3rem;

    img {
      height: 7rem;
    }

    .large-title {
      margin-bottom: 0;
    }

    .large-text {
      margin-bottom: 0;
    }
  }

  .col-md-4:first-child .process {
    background-color: $color-primary-transparent;
  }
}


/*
Third Block
================================================================================
*/
.third-block {
  margin-bottom: 1rem;

  background: url(assets/images/brushing-teeth.jpg) center -350px / cover no-repeat;

  text-align: center;

  .third-block__overlay {
    display: block;
    margin: 0;
    padding: 4.5rem 0;

    background-color: $color-primary-transparent;
  }

  .large-title {
    color: $color-white;
  }
}


/*
Fourth Block
================================================================================
*/
.fourth-block {
  margin-bottom: 1rem;

  background: url(assets/images/dentist-and-woman.jpg) center -200px / cover no-repeat;

  text-align: center;

  .fourth-block__overlay {
    display: block;
    margin: 0;
    padding: 3rem 0;

    background-color: $color-secondary-transparent;
  }

  .large-title {
    margin: 0 0 2rem 0;

    color: $color-white;
  }

  .large-text {
    margin: 0 0 2rem 0;

    color: $color-white;
  }

  .large-button {
    color: $color-white;
  }
}
