/*
Page-Wide
================================================================================
NOTE: These are all good candidates for generic styles if used on multiple
pages.
*/
.wrapper {
  width: 100%;
  margin: 0 auto;

  text-align: center;
}

.large-title {
  margin-bottom: 1.5rem;

  font-size: 3rem;
  text-transform: capitalize;
}

.large-text {
  margin-bottom: 3rem;

  font-size: 1.5rem;
  font-weight: 300;
  line-height: 2rem;
}

.large-button {
  border-radius: 1rem;
  padding: 1.5rem 2.5rem;

  color: #FFF;
  background-color: #00adef;

  font-size: 1.5rem;
  font-weight: 600;
  line-height: normal;
}


/*
First Block
================================================================================
*/
.first-block {
  background: url(assets/images/brushing-teeth.jpg) top center / cover no-repeat;

  header {
    padding: 10rem 0 16rem 0;

    h1 {
      margin: 0.5rem 0 0 0;
    }

    h2 {
      margin: 0;

      color: rgba(90, 162, 103, 0.8);

      font-size: 2rem;
    }
  }

  form {
    .search {
      width: 34rem;
      border-radius: 0.5rem;
      padding: 1rem 2rem;

      color: #737070;
      background-color: rgba(255, 255, 255, 0.8);

      &::-webkit-input-placeholder {
        opacity: 1;
        color: #737070;

        text-align: center;
      }

      &:-moz-placeholder { /* Firefox 18- */
        opacity: 1;
        color: #737070;

        text-align: center;
      }

      &::-moz-placeholder { /* Firefox 19+ */
        opacity: 1;
        color: #737070;

        text-align: center;
      }

      &:-ms-input-placeholder {
        opacity: 1;
        color: #737070;

        text-align: center;
      }
    }

    .get-started {
      margin-top: 1rem;
      border-radius: 0.5rem;
      padding: 1rem 1.5rem;

      color: #FFF;
      background-color: #00adef;

      font-weight: 600;
    }
  }

  .next-section-cover {
    margin-top: 5rem;
    padding: 2rem 0 1rem 0;

    color: #FFF;
    background-color: rgba(0, 172, 237, 0.6);

    h3 {
      font-size: 1.75rem;
      font-weight: 600;
    }

    p {
      font-size: 1.25rem;
    }
  }
}


/*
Second Block
================================================================================
*/
.second-block {
  padding: 3.5rem 0;

  color: #4f4f4f;
  background-color: #FFF;

  .large-title {
    color: #00adef;
  }

  .process {
    border-radius: 1rem;
    padding: 3rem;

    img {
      height: 7rem;
    }

    .large-title {
      margin-bottom: 0;
    }

    .large-text {
      margin-bottom: 0;
    }
  }

  .col-md-4:first-child .process {
    background-color: #e6f7fe;
  }
}


/*
Third Block
================================================================================
*/
.third-block {
  position: relative;
  margin-bottom: 1rem;

  background: url(/b608e86be5638ac8382a385e6c27628e.jpg) center -350px / cover no-repeat;

  text-align: center;

  .large-title {
    display: block;
    margin: 0;
    padding: 4.5rem 0;

    color: #FFF;
    background-color: rgba(0, 172, 237, 0.8);
  }
}











.four-block {
  padding-top: 11rem;
  padding-bottom: 20rem;

  li {
    list-style-image: url('./check.png');
    padding-top: 10px;
    font-size: 20px;
  }
}

.navbar {
  background: transparent;
}

.nav {
  margin-right: 15px;
}

li.nav-item {
  & > a:hover,
  & > a:active {
    background-color: transparent;
    color: #FFF;
  }

  & > a {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    color: #FFF;
    font-size: 1rem;
  }
}

.footer-block {
  > * {
    background-color: transparent;
  }
}
