/*
Dentist Signup Page Styles
================================================================================
*/

/*
Imports
------------------------------------------------------------
*/
/* app */
@import '../../assets/styles/variables';


/*
Page-Wide
================================================================================
*/
.container-wrapper {
  min-height: $body-height;
}

.large-title {
  margin-bottom: 2.5rem;

  font-size: 3rem;
  text-transform: capitalize;
}

:global(.modal-body) {
  padding-bottom: 1.5rem;
}


/*
Signup Form
================================================================================
*/
.signup-form-wrapper {
  margin: 2.5rem 0 5rem 0;

  .large-title {
    color: $color-primary-highlight;

    text-align: center;
  }
}


/*
Signup Success Modal
================================================================================
*/
.letter {}

.letter__to {
  margin-bottom: 1.5rem;
}

.letter__from {
  margin-top: 1.5rem;
}
