@import '../../assets/styles/variables';

.wrapper {
  min-height: 100%;
  background-color: $cyan;
  color: $white;
}

.container {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.form-header {
  margin-bottom: 2rem;
}

.modal-background {
  background-color: #00C0EF;
  padding: 0;

  .row {
    display: flex;
    align-items: center;
  }

  .main-content {
    background-color: #0D7F9A;
    padding: 35px 20px;
    color: #FFF;
  }
}
