/**
 * styles.css
 *
 * App container styles
 */
@import '../../assets/styles/variables';

:root {
  --nav-height: 6.5rem;
}

.wrapper {
  height: 100%;
  margin-top: $nav-height;
}

.container-wrapper {
  min-height: calc(100% - 45px);
}
