/**
 * styles.css
 *
 * App container styles
 */

:root {
  --nav-height: 6.5rem;
}

.wrapper {
  height: 100%;
  margin-top: var(--nav-height);
}

.container-wrapper {
  min-height: calc(100% - 45px);
}
